<CascadingValue Value="avatarContext"
                IsFixed="true">
    <span @attributes="AdditionalAttributes"
          @ref="Element">
        @ChildContent
    </span>
</CascadingValue>

@code {
    private AvatarContext avatarContext = new();

    /// <summary>
    /// Defines the child components of this instance.
    /// </summary>
    [Parameter] public RenderFragment? ChildContent { get; set; }

    /// <summary>
    /// Gets or sets a collection of additional attributes that will be applied to the created element.
    /// </summary>
    [Parameter(CaptureUnmatchedValues = true)] public IReadOnlyDictionary<string, object>? AdditionalAttributes { get; set; }

    /// <summary>
    /// Gets or sets the associated <see cref="ElementReference"/>.
    /// <para>
    /// May be <see langword="null"/> if accessed before the component is rendered.
    /// </para>
    /// </summary>
    public ElementReference? Element { get; private set; }
}
