@using Microsoft.JSInterop

@implements IAsyncDisposable

@inject IJSRuntime JSRuntime

<label @attributes="AdditionalAttributes"
       @ref="Element">
    @ChildContent
</label>

@code {
    private Lazy<Task<IJSObjectReference>> moduleTask = default!;
    private bool disposed;

    /// <summary>
    /// Specifies the content to be rendered inside this <see cref="Label"/>.
    /// </summary>
    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    /// <summary>
    /// Gets or sets a collection of additional attributes that will be applied to the created element.
    /// </summary>
    [Parameter(CaptureUnmatchedValues = true)]
    public IReadOnlyDictionary<string, object>? AdditionalAttributes { get; set; }

    /// <summary>
    /// Gets or sets the associated <see cref="ElementReference"/>.
    /// <para>
    /// May be <see langword="null"/> if accessed before the component is rendered.
    /// </para>
    /// </summary>
    public ElementReference Element { get; protected set; }

    /// <inheritdoc />
    protected override void OnInitialized()
    {
        moduleTask = new(() => JSRuntime.InvokeAsync<IJSObjectReference>(
           "import", "./_content/Blazix/blazix-label.js").AsTask());
    }

    /// <inheritdoc />
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            try
            {
                var module = await moduleTask.Value;

                if (module != null)
                {
                    await module.InvokeVoidAsync("addLabelMouseDownListener", Element);
                }
            }
            catch (Exception ex) when (ex is JSDisconnectedException or TaskCanceledException) { /* Swallow */ }
        }
    }

    /// <inheritdoc />
    public async ValueTask DisposeAsync()
    {
        if (disposed) return;
        disposed = true;

        if (moduleTask.IsValueCreated)
        {
            try
            {
                var module = await moduleTask.Value;
                if (module != null)
                {
                    await module.InvokeVoidAsync("removeLabelMouseDownListener", Element);
                    await module.DisposeAsync();
                }
            }
            catch (Exception ex) when (ex is JSDisconnectedException or TaskCanceledException) { /* Swallow */ }
        }
    }
}